.topnav {
  background-color: rgb(210, 169, 94) /* #333 */;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topnav-page-title-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.topnav-page-container {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.web-name {
  color: skyblue;
  font-size: 2vw;
  font-style: normal;
}

.topnav-style {
  color: skyblue;
  background-color: rgb(210, 169, 94);
  font-size: 2vw;
  transition: ease 0.3s;
}

.top-style:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}
/* Style the links inside the navigation bar */
/* .topnav div {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */

/* Change the color of links on hover */
/* .topnav div:hover {
  background-color: #ddd;
  color: black;
}

.topnav div {
  float: right;
}

.topnav divA {
  float: left;
} */
