.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "COPPERPLATE";
}

/*page-container including all the components except footer*/
.Page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*===============Nav================*/
.topnav {
  background-color: rgb(210, 169, 94);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topnav-page-title-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.topnav-page-container {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.web-name {
  color: black;
  font-size: 3vw;
  font-style: normal;
  padding-left: 0.5em;
}

.topnav-style {
  color: black;
  background-color: rgb(210, 169, 94);
  font-size: 1.5vw;
  font-family: "COPPERPLATE";
  transition: ease 0.1s;
  padding-left: 0.5em;
  padding-right: 0.7em;
  border-style: none;
  border-radius: 8px;
}

.topnav-style:hover {
  background-color: skyblue;
  color: black;
  cursor: pointer;
}

/* SignIn & SignOut*/
.auth__button-container {
  padding: 10px 10px;
  min-height: 30px;
  display: flex;
  align-items: center;
}

.auth__button {
  background-color: orange;
  border-style: none;
  font-size: 14px;
  transition: ease 0.3s;
  border-radius: 8px;
}

.auth__button:hover {
  background-color: skyblue;
  color: black;
  cursor: pointer;
}

.profile__image {
  position: relative;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  size: 50%;
}

/* ===================== Header ===================== */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: lightyellow;
  opacity: 0.9;
}

.Background-style {
  width: 100vw;
  height: 70vh;
}

/* ===================== Home Page ===================== */
.Home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightyellow;
  width: 100vw;
  height: 80vh;
  align-self: center;
}

.Box-container-Event-Parks {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
  height: 30vh;
}

.Box-container-Shops {
  padding-top: 1em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70vw;
  height: 30vh;
}

.EventsBox,
.ParksBox,
.ShopsBox {
  width: 30vw;
  height: 30vh;
  border: solid;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  background-color: rgb(210, 169, 94);
  align-items: center;
  justify-content: space-around;
}

.Box-header {
  height: 30%;
  font-family: "COPPERPLATE";
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.Learn-more {
  background-color: rgb(212, 126, 13);
  transition: ease 0.3s;
}

.Learn-more:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

/*===================== PARKS =================================*/
.park__container {
  display: grid;
  grid-template-areas:
    "header header"
    "list map";
  grid-template-columns: auto 70vw;
  row-gap: 10px;
  column-gap: 10px;
}

/* Park Header */
.map__header {
  grid-area: header;
  background-color: #d7e02a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.map__header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 30px;
}

.search__bar-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.search__bar-search {
  display: flex;
}

/* Park Map */
.map__container {
  grid-area: map;
  width: 100%;
  height: 85vh;
  background-color: green;
  column-gap: 10px;
}

.map__marker {
  position: "absolute";
  transform: "translate(-50%, -50%)";
  z-index: 1;
}

.map__marker::hover {
  z-index: 2;
}

.map__card {
  position: absolute;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  background: white;
  z-index: 1;
  border-radius: 5px;
}

.map__card::hover {
  z-index: 2;
  cursor: pointer;
}

.card__image {
  width: 100px;
  height: 100%;
}

/* List */
.list__holder {
  grid-area: list;
}
.list__loading {
  height: "600px";
  display: "flex";
  justify-content: "center";
  align-items: "center";
}

.list__container {
  display: grid;
  row-gap: 10px;
  height: 65vh;
  overflow: auto;
}

/* ===================== Events Page ===================== */
.Box-container {
  background-color: lightyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 130vh;
}

.Box-container-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
}

.EventsBox-Events-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30vw;
  height: 30vh;
  background-color: rgb(210, 169, 94);
  padding: 10px;
}

.Events-text {
  color: black;
  font-size: medium;
}

/* ===================== Stores Page ===================== */
.store-list {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
}

.store-header {
  background-color: #e9c40d;
  width: 100vw;
  text-align: center;
}

.stores-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid green;
}

.store {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.store img {
  width: 30vw;
  height: 40vh;
}

.store-link {
  font-size: 20px;
}

.store-header,
.store-link:link {
  color: darkred;
}

.store-link:hover {
  color: rgb(224, 102, 102);
}

.store-link:visited {
  color: rgb(213, 0, 0);
}

/* ===================== Contact Page ===================== */
.contact-container {
  background-color: #fff;
  box-shadow: 0 0 20px 0 #999;
  display: flex;
  justify-content: center;
}

form {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  row-gap: 20px;
}

form p {
  margin-top: -20px;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  row-gap: 10px;
}

.input-field {
  width: 450px;
  height: 40px;
  border: 1px solif #777;
  outline: none;
}

.textarea-field {
  height: 150px;
  padding-top: 10px;
}

.submit {
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding: 10px;
  background-color: #e9c40d;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

/* ===================== Footer ===================== */
.main-footer {
  color: black;
  background-color: rgb(210, 169, 94);
  position: relative;
  width: 100%;
  padding: 10px;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  font-style: italic;
}

/* ===================== Responsiveness ===================== */
@media screen and (max-width: 600px) {
  .park__container {
    grid-template-areas:
      "header"
      "list"
      "map";
    grid-template-columns: 1fr;
  }

  .stores-container {
    flex-direction: column;
    width: 100vw;
  }
  .store {
    width: 70vw;
  }

  .store img {
    width: 70vw;
    height: auto;
  }

  .store-link {
    font-size: 10px;
  }
}

@media screen and (max-width: 800px) {
  .store img {
    height: 30vh;
  }

  .store-link {
    font-size: 20px;
  }

  .footer-row {
    font-size: 10px;
  }
}
