.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "COPPERPLATE";
}

/*page-container including all the components except footer*/
.page__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: lightyellow;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home__container,
.events__container {
  row-gap: 20px;
  padding: 30px 0;
}

/*===============Nav================*/
.nav__container {
  background-color: rgb(210, 169, 94);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.nav__page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.nav__web-name {
  font-size: 3vw;
}

.nav__page {
  background-color: rgb(210, 169, 94);
  font-size: 2vw;
  font-family: "COPPERPLATE";
  transition: ease 0.1s;
  border-style: none;
}

.nav__page:hover {
  background-color: skyblue;
  cursor: pointer;
}

/* SignIn & SignOut*/
.auth__button-container {
  padding: 10px 10px;
  min-height: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.auth__button {
  background-color: orange;
  font-family: "COPPERPLATE";
  min-height: 2vw;
  border-style: none;
  font-size: 1.5vw;
  transition: ease 0.3s;
  border-radius: 25%;
}

.auth__button:hover {
  background-color: skyblue;
  cursor: pointer;
}

.profile__image {
  position: relative;
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
}

/* ===================== Header ===================== */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.9;
}

.Background-style {
  width: 100vw;
  height: 70vh;
}

/* ===================== Home Page ===================== */
.home__container {
  width: 100vw;
  justify-content: center;
}

.box__container-event-parks,
.box__container-shops {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  width: 100%;
  height: 30vh;
}

.box__container {
  min-height: 10px;
  width: 30vw;
  height: 30vh;
  background-color: rgb(210, 169, 94);
  border: 2px solid;
  justify-content: center;
  align-items: center;
}

.box-header {
  font-size: 1vw;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.learn__more {
  background-color: rgb(212, 126, 13);
  transition: ease 0.3s;
  font-size: 1vw;
  margin-top: 0.3em;
}

.learn__more:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.home-box-images {
  width: 20vw;
  height: 20vh;
}

/*===================== PARKS =================================*/
.park__container {
  display: grid;
  grid-template-areas:
    "header header"
    "list map";
  grid-template-columns: auto 70vw;
  row-gap: 10px;
  column-gap: 10px;
}

/* Park Header */
.map__header {
  grid-area: header;
  background-color: #d7e02a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.map__header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 30px;
}

.search__bar-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.search__bar-search {
  display: flex;
}

/* Park Map */
.map__container {
  grid-area: map;
  width: 100%;
  height: 85vh;
  background-color: green;
  column-gap: 10px;
}

.map__marker {
  position: "absolute";
  transform: "translate(-50%, -50%)";
  z-index: 1;
}

.map__marker::hover {
  z-index: 2;
}

.map__card {
  position: absolute;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  background: white;
  z-index: 1;
  border-radius: 5px;
}

.map__card:hover {
  z-index: 2;
  cursor: pointer;
}

.card__image {
  width: 100px;
  height: 100%;
}

/* List */
.list__holder {
  grid-area: list;
}
.list__loading {
  height: "600px";
  display: "flex";
  justify-content: "center";
  align-items: "center";
}

.list__container {
  display: grid;
  row-gap: 10px;
  height: 65vh;
  overflow: auto;
}

/* ===================== Events Page ===================== */
.events__container {
  justify-content: center;
  width: 100vw;
}

.events__container-row {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  width: 70vw;
}

.event__information {
  background-color: rgb(210, 169, 94);
  justify-content: center;
  width: 30vw;
  height: 30vh;
  padding: 10px;
}

.events__text {
  font-size: min(2vw, 2vh);
}

.events-title {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 10vh;
  background-color: #e9c40d;
  font-size: 2vw;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
  justify-content: center;
}

/* ===================== Stores Page ===================== */
.store-list {
  width: 100vw;
  align-items: center;
}

.store-header {
  background-color: #e9c40d;
  width: 100vw;
  text-align: center;
}

.stores-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: 100vw;
  padding: 30px 0;
}

.store {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
}

.store img {
  width: 25vw;
  height: 40vh;
}

.store-link {
  font-size: 20px;
}

.store-header,
.store-link:link {
  color: darkred;
}

.store-link:hover {
  color: rgb(224, 102, 102);
}

.store-link:visited {
  color: rgb(213, 0, 0);
}

/* ===================== Contact Page ===================== */
.contact-container {
  box-shadow: 0 0 20px 0 #999;
  display: flex;
  justify-content: center;
}

form {
  margin: 20px;
  padding: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  row-gap: 20px;
}

form p {
  margin-top: -20px;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.input-field {
  width: 450px;
  height: 40px;
  border: 1px solif #777;
  outline: none;
}

.textarea-field {
  height: 150px;
  padding-top: 10px;
}

.submit {
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding: 10px;
  background-color: #e9c40d;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.error {
  background-color: rgb(201, 0, 0);
  color: white;
  padding: 5px;
  font-size: 20px;
}

/* ===================== Footer ===================== */
.main-footer {
  color: black;
  background-color: rgb(210, 169, 94);
  position: relative;
  width: 100%;
  padding: 10px;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  font-style: italic;
}

/* ===================== Responsiveness ===================== */
@media screen and (max-width: 600px) {
  .park__container {
    grid-template-areas:
      "header"
      "list"
      "map";
    grid-template-columns: 1fr;
  }

  .stores-container {
    flex-direction: column;
    row-gap: 20px;
    width: 100vw;
  }
  .store {
    width: 70vw;
  }

  .store img {
    width: 70vw;
    height: auto;
  }

  .store-link {
    font-size: 10px;
  }
}

@media screen and (max-width: 800px) {
  .store img {
    height: 30vh;
  }

  .store-link {
    font-size: 20px;
  }

  .footer-row {
    font-size: 10px;
  }

  .nav__web-name {
    font-size: 4vw;
  }

  .nav__page {
    font-size: 2vw;
  }
}
